.lorem {
  display: flex;
  padding: 16px 129px 0 129px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: space-between;
}
.lorem-item img {
  float: left;
}
.lorem-item {
  margin-left: 4px;
}

.lorem-item h2 {
  font-weight: 700;
  font-size: 24px;
}
.lorem-item p {
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 400;
}
@media (max-width: 1500px) {
  .lorem {
    padding: 16px 80px;
    /* flex-wrap: wrap; */
  }
}
@media (max-width: 1250px) {
  .lorem {
    padding: 16px 80px;
    flex-direction: column;
  }
}
@media (max-width: 871px) {
  .lorem-item p {
    float: right;
  }
}
@media (max-width: 650px) {
  .lorem {
    padding: 16px 16px 0 16px;
  }
}
